.jar {
  position: center;
  width: 300px;
  height: 420px;
  border-radius: 0 0 140px 140px;
  overflow: hidden;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
