@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.nav-container {
    background: #f8f9fa;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-family: "Rampart One", sans-serif;
    padding: 1rem 2rem;
    gap: 1rem;
    font-size: 30px;
    background-color: #6c63ff;
}

.navbar a {
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    /* background-color: rgba(128, 221, 245, 0.3); */
    color: white;
    font-weight: 500;
    transition: background 0.3s, transform 0.2s;
}

.navbar a:hover {
    background-color: #5a52d4;
    transform: translateY(-2px);
}