.stat-panel {
  background-color: #ffffffc2;
  backdrop-filter: blur(20px);
  border-radius: 16px;
  text-align: center;
  transition: transform 0.2s ease;
  padding: 0.75rem 1.5rem;
  border: 1px solid #8B7BA8;
  box-shadow: 2px 2px 0 #8B7BA8;
  display: flex;
  flex-direction: column;
}

.stat-panel:hover {
  transform: scale(1.03);
}

/* Child card styles */
/* .child-card {
  border-radius: 20px;
  padding: 0.75rem 1.5rem;
  border: 4px solid #8B7BA8;
  box-shadow: 2px 2px 0 #8B7BA8;
  transition: transform 0.2s ease;
  align-items: center;
  text-align: center;
} */

.child-card:hover {
  transform: scale(1.02);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.campaign-dropdown {
  background-color: #ffffff;
  margin-top: 1rem;
  border-radius: 16px;
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 4px solid #8B7BA8;
  box-shadow: 2px 2px 0 #8B7BA8;
}