.footer {
  position: relative;
  padding: 3rem 1.5rem;
  background: linear-gradient(
    to bottom right,
    #b79ad6,
    #f5b7c5,
    #ffd98f
  );
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  filter: blur(100px);
  border-radius: 50%;
}

.footer-glass {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 24px;
  padding: 2.5rem;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-about {
  flex: 1 1 300px;
  max-width: 400px;
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-about p {
    margin: 0;
    font-weight: 50;
    opacity: 0.9;
}

.footer-logo {
  width: auto;
  height: 40px;
}

.footer-brand p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 50;
  opacity: 0.8;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social h4,
.footer-social p {
  margin-bottom: 0.75rem;
}

.social-icon{
    width: 40px;
    height: 40px;
}

.social-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.social-icons a {
  text-decoration: none;
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.8;
  align-items: center;
}

@media (max-width: 842px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .footer-brand,
  .footer-about,
  .footer-social {
    max-width: 100%;
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
  }

  .footer p {
    font-size: 0.8rem;
  }

  .social-icons {
    justify-content: center;
  }
}