.hero-container {
  position: relative;
  width: 100%;
  height: 600px; /* adjust Hero height */
  overflow: hidden;
}

.hero-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-content {
  position: relative;
  z-index: 1; /* ensures text is above canvas */
  color: white;
  text-align: center;
  padding-top: 200px; /* adjust vertical placement */
  font-family: 'Arial', sans-serif;
}
