@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import "tailwindcss";

:root {

  font-family: 'Lilita One', cursive;
  /* Primary / Magical Pastel Colors */
  --sky-blue: #a0d4f1;     /* pastel sky blue */
  --wisteria: #c9b3e0;     /* pastel purple */
  --mustard: #ffe7a1;      /* pastel yellow */
  --baby-pink: #fbcdd7;    /* pastel pink */
  --celadon: #a7e1cd;      /* pastel mint */
  
  /* Neutral / text */
  --white: #ffffff;
  --gray-dark: #333333;

  /* Spacing, border radius, shadows (for later) */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --radius-md: 8px;
  --shadow-light: 0 2px 4px rgba(0,0,0,0.1);
}

/* Global */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Lilita One', cursive;
  font-size: 10vmin;
  letter-spacing: 0.2rem;
  transform-style: preserve-3d;
}

body {
  color: var(--gray-dark);
  background-color: var(--sky-blue);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Buttons */
.dj-button {
  height: 50px;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  border: 4px solid #8B7BA8;
  background: #a0d4f1;
  color: #8B7BA8;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px 0 #8B7BA8;
  transition: all 0.25s ease;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dj-button:hover {
  background: #ffe7a1;
  transform: translateY(-3px);
}

.delete-variant {
  background: #fca5a5;
}

.delete-variant:hover {
  background: #f57777;
}


h2 {
  font-size: xx-large;
}

/* Forms */
.form-label {
  position: absolute;
  top: -12px;
  left: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #8B7BA8;
  background: #fcf2f5;
  padding: 0 6px;
}

.dream-input,
.dream-textarea {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  border-radius: 999px;
  border: 4px solid #8B7BA8;
  background: #f9dde3;
  color: #8B7BA8;
  font-weight: normal;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 #8B7BA8;
}

.dream-textarea {
  border-radius: 24px;
  padding-top: 14px;
  height: auto;
}

.dream-input:focus,
.dream-textarea:focus {
  border-color: #fbcdd7;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}