@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Lilita One', cursive;
}

/* Global */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Lilita One', cursive;
  font-size: 10vmin;
  letter-spacing: 0.2rem;
  transform-style: preserve-3d;
}

body {
  background: linear-gradient(
  to bottom right,
  #c9b3e0,
  #fbcdd7,
  #ffe7a1
);

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 8rem;
}

/* Buttons */
.dj-button {
  height: 50px;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  border: 4px solid #8B7BA8;
  box-shadow: 4px 4px 0 #8B7BA8;
  background: #a0d4f1;
  color: #8B7BA8;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dj-button:hover {
  background: #ffe7a1;
  transform: translateY(-3px);
}

.delete-variant {
  background: #fca5a5;
}

.delete-variant:hover {
  background: #f57777;
}

.tab-variant {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    background: rgba(108, 99, 255, 0.5);
    transition: all 0.25s ease;
}

/* Hover effect */
.tab-variant:hover {
    background: rgba(108, 99, 255, 0.2);
    transform: translateY(-2px);
    cursor: pointer;
}

/* Currently active tab */
.tab-variant.active {
    background-color: #ffde7d;
    color: #6c63ff;
    box-shadow: inset 2px 2px 0 rgba(0,0,0,0.2);
    transform: translateY(0);
}


h2 {
  font-size: xx-large;
}

/* Forms */
.form-label {
  position: absolute;
  top: -12px;
  left: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #8B7BA8;
  background: #fcf2f5;
  padding: 0 6px;
}

.dream-input,
.dream-textarea {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  border-radius: 999px;
  border: 4px solid #8B7BA8;
  background: #f9dde3;
  color: #8B7BA8;
  font-weight: normal;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 #8B7BA8;
}

.dream-textarea {
  border-radius: 24px;
  padding-top: 14px;
  height: auto;
}

.dream-input:focus,
.dream-textarea:focus {
  border-color: #fbcdd7;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

/* Glass Panel */
.glass-panel {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 24px;
  padding: 1.5rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.glass-panel:hover {
  transform: translateY(-4px);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15);
}
