.how-it-works, .parents-section, .cta-section {
  text-align: center;
  max-height: 350px;
}

.featured-campaigns {
  text-align: center;
  height: 800px;
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #e0c3fc, #8ec5fc, #fbc2eb);
}

.steps {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.step {
  width: 300px;
  padding: 1rem;
  border-radius: 50px;
  border: 4px solid #8B7BA8;
  font-size: 1.25rem;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
  outline: none;
}

.feature-campaign-grid {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.feature-campaign-card {
  width: 400px;
  height: 300px;
  padding: 1rem;
  border-radius: 50px;
  border: 4px solid #8B7BA8;
  box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  font-size: 1.25rem;
  background: #fff;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.progress-bar {
  height: 8px;
  background: #eee;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.progress {
  height: 100%;
  background: #6c63ff;
  border-radius: 4px;
}

.featureview-btn {
  border-radius: 9999px;
  width: 75%;
  height: 56px;
  background-color: #ffffff;

  border: 4px solid #8B7BA8;
  box-shadow: 4px 4px 0 #8B7BA8;

  color: #8B7BA8;
  font-size: 1.25rem; /* text-xl */
  font-weight: 700;   /* font-bold */

  align-items: center;
  justify-content: center;
  gap: 0.75rem; /* gap-3 = 12px */

  transition: all 0.3s ease;
}